
.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					= link_to 'Admin', main_app.admin_index_path
				%li
					= link_to 'Category Admin', category_admin_index_path
				%li
					%strong
						Edit
						= @category.name

	= form_for @category, as: :category, url: category_admin_path( @category ) do |f|

		.row
			.col-xs-8
				.form-group
					= f.label :name
					= f.text_field :name, class: 'form-control'

				.row
					.col-xs-4

						.form-group
							= f.label :avatar_attachment, "Avatar Image"
							= f.file_field :avatar_attachment
							- if @category.avatar
								= image_tag @category.avatar, class: 'img-responsive'
								%a.btn.btn-default{ 'data-clipboard-text' => @category.avatar }
									%i.fa.fa-clipboard

					.col-xs-4
						.form-group
							= f.label :cover_attachment, "Cover Image"
							= f.file_field :cover_attachment
							- if @category.cover_image
								= image_tag @category.cover_image, class: 'img-responsive'
								%a.btn.btn-default{ 'data-clipboard-text' => @category.cover_image }
									%i.fa.fa-clipboard
				.row
					.col-xs-12
						.form-group
							= f.label :description
							= f.text_area :description, class: 'form-control wysiwyg', data: { wysiwyg: { height_min: 100, toolbar_sticky: true, toolbar_preset: 'admin_default', asset_manager: swell_media.asset_manager_index_path( asset: { parent_obj_type: @category.class.name, parent_obj_id: @category.id }, request_forgery_protection_token.to_s => form_authenticity_token, response: :json ) }.to_json }


			.col-xs-4
				.form-group
					= f.label :seq
					= f.number_field :seq, class: 'form-control'
				.form-group
					= f.label :type
					= f.text_field :type, class: 'form-control'
				.form-group
					= f.label :status
					= f.collection_select :status, Pulitzer::Category.statuses, :first, :first, {}, class: 'form-control'

				.form-group
					= f.submit 'Update', class: 'btn btn-primary'
