
#new_redirect.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					New Redirect
			= form_for Pulitzer::Redirect.new, url: pulitzer.redirect_admin_index_path do |f|
				.modal-body

					= f.label :slug_pref, 'Path'
					= f.text_field :slug_pref, class: 'form-control'

					= f.label :redirect_url, 'Redirect To'
					= f.text_field :redirect_url, class: 'form-control'
				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= f.submit 'Create', class: 'btn btn-primary'
