
= form_for section, url: content_section_admin_path( section ) do |f|
	.well
		.row
			.col-sm-4
				.form-group
					= f.label :name
					= f.text_field :name, class: 'form-control'
				%a.toggle-show{ href: '#' }
					Show Advanced
				
				%a.toggle-hide{ href: '#' }
					Hide Advanced
			.col-sm-4
				= f.label :background_attachment, "Background Image"
				= f.file_field :background_attachment
				- if section.background_attachment.attached?
					%a{ href: section.background_attachment.service_url, target: '_new' }
						= image_tag section.background_attachment.service_url, class: 'img-responsive'
			.col-sm-2
				.form-group
					= f.label :seq
					= f.text_field :seq, class: 'form-control'
			.col-sm-2
				%a.btn.btn-danger.pull-right{ href: content_section_admin_path( section ), data: { method: :delete, confirm: 'Are you sure?' } }
					Delete
		.toggle
			.row
				.col-sm-12
					.form-group
						= f.label :partial
						=# f.text_field :partial, class: 'form-control'
						= f.select :partial, @partials, {}, class: 'form-control'

				
			.row
				.col-sm-12
					.form-group
						= f.label :css_classes
						= f.text_field :css_classes, class: 'form-control'
			.row
				.col-sm-12
					.form-group
						= f.label :css_style
						= f.text_field :css_style, class: 'form-control'
		.row
			.col-sm-12
				.form-group
					= f.label :title
					= f.text_field :title, class: 'form-control'
				.form-group
					= f.label :content
					= f.text_area :content, class: 'form-control wysiwyg', data: { wysiwyg: { height_min: 100, toolbar_sticky: true, toolbar_preset: 'admin_default', object_class: section.class.base_class.name, object_id: section.id }.to_json }



			.form-group
				= f.submit 'Update', class: 'btn btn-primary pull-right', style: 'margin-right:2em;'