#new_section.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					New Content Section
			= form_tag pulitzer.content_section_admin_index_path do
				= hidden_field_tag :parent_id, parent.id
				= hidden_field_tag :parent_type, parent.type
				.modal-body
					.form-group
						= label_tag :name
						= text_field_tag :name, '', placeholder: 'Name', class: 'form-control'
					.row
						.col-sm-6
							.form-group
								= label_tag :seq
								= text_field_tag :seq, '', placeholder: "Sequence (a number or 'first', 'last')", class: 'form-control'
					.form-group
						= label_tag :description, "Description"
						= text_field_tag :description, '', class: 'form-control'

				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= submit_tag 'Create', class: 'btn btn-primary'