.container
	- if @author.present?
		%h1
			= pluralize @articles.total_count, 'Article'
			by
			= @author.avatar_tag( width: 36 )
			= @author

	- if @query.present?
		%h1
			= pluralize @articles.total_count, 'Article'
			matching
			= "'#{@query}'"

	- if @tagged.present?
		%h1
			= pluralize @articles.total_count, 'Article'
			tagged
			= "'#{@tagged}'"

	- if @category.present?
		%h1
			= pluralize @articles.total_count, 'Article'
			in
			= "'#{@category}'"

	= raw paginate @articles
	- @articles.each do |article|
		= render 'row', article: article
	= raw paginate @articles