#new_asset.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					New Asset
			= form_for SwellMedia::Asset.new, url: swell_media.asset_admin_index_path, :html => {:multipart => true} do |f|
				-# = f.file_field :uploader
				-# = f.hidden_field :uploader_cache
				.modal-body
					.form-group
						= f.label :title
						= f.text_field :title, class: 'form-control'
					.form-group
						= f.label :file, 'File'
						= file_field_tag :file, class: 'form-control'

				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= f.submit 'Upload', class: 'btn btn-primary'