
-# TODO 

.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					= link_to 'Admin', main_app.admin_index_path
				%li
					= link_to 'Asset Admin', asset_admin_index_path
				%li
					%strong
						Edit
						= @asset.title

	= form_for @asset, url: asset_admin_path( @asset ), :html => {:multipart => true} do |f|
	
		.row
			.col-xs-8
				.form-group
					= f.text_field :title, class: 'form-control input-lg'

				.form-group
					%h6
						Path:
					.well
						= @asset.url

				.form-group
					= image_tag @asset.url, class: 'img-responsive'
				.form-group
					= f.label :file, 'File'
					= file_field_tag :file, class: 'form-control'
				.form-group
					= f.label :description
					= f.text_area :description, class: 'form-control wysiwyg', data: { heightmin: 50 }



			.col-xs-4
				.well
					.form-group
						= f.label :status
						= f.collection_select :status, SwellMedia::Asset.statuses, :first, :first, {}, class: 'form-control'
					.form-group
						= f.submit 'Update', class: 'btn btn-primary'