

.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					= link_to 'Admin', main_app.admin_index_path
				%li
					= link_to 'Blog Admin', article_admin_index_path
				%li
					%strong
						Edit
						= @article.title
		.col-xs-2
			%a.btn.btn-primary{ href: preview_article_admin_path( @article.id ), target: '_new' }
				%i.fa.fa-eye
				Preview

	= form_for @article, url: article_admin_path( @article ) do |f|

		.row
			.col-xs-8
				.form-group
					= f.text_field :title, class: 'form-control input-lg'
				.form-group
					= f.label :subtitle
					= f.text_field :subtitle, class: 'form-control'

				.form-group
					= f.label :meta_description, 'Meta Description'
					= f.text_area :meta_description, class: 'form-control'

				.form-group
					= f.label :slug_pref, 'URL for this article:'
					.input-group
						%span.input-group-addon
							= Pulitzer.app_host
						= f.text_field :slug_pref, class: 'form-control', placeholder: @article.slug
						%span.input-group-btn
							%a.btn.btn-default{ 'data-clipboard-text' => @article.url }
								%i.fa.fa-clipboard

					= f.label :redirect_url, 'Redirect to:'
					= f.text_field :redirect_url, class: 'form-control'


				.row
					.col-xs-4

						.form-group
							= f.label :avatar_attachment, "Avatar Image"
							= f.file_field :avatar_attachment
							- if @article.avatar
								= image_tag @article.avatar, class: 'img-responsive'
								%a.btn.btn-default{ 'data-clipboard-text' => @article.avatar }
									%i.fa.fa-clipboard
							- if @article.avatar_attachment.attached?
								%a.btn.btn-default{ href: pulitzer.purge_article_admin_path( @article.id, attribute: :avatar_attachment ), data: { method: :delete } }
									%i.fa.fa-trash

					.col-xs-4

						.form-group
							= f.label :cover_attachment, "Cover Image"
							= f.file_field :cover_attachment
							- if @article.cover_image
								= image_tag @article.cover_image, class: 'img-responsive'
								%a.btn.btn-default{ 'data-clipboard-text' => @article.cover_image }
									%i.fa.fa-clipboard
							- if @article.cover_attachment.attached?
								%a.btn.btn-default{ href: pulitzer.purge_article_admin_path( @article.id, attribute: :cover_attachment ), data: { method: :delete } }
									%i.fa.fa-trash

				.form-group
					= f.label :avatar_caption, 'Caption'
					= f.text_area :avatar_caption, class: 'form-control wysiwyg', data: { wysiwyg: { toolbar_sticky: false, toolbar_preset: 'admin_lite' }.to_json }
				.form-group
					= f.label :description, 'Summary'
					= f.text_area :description, class: 'form-control wysiwyg', data: { wysiwyg: { height_min: 100, toolbar_sticky: false, toolbar_preset: 'admin_default', object_class: @article.class.base_class.name, object_id: @article.id }.to_json }

				.form-group
					= f.text_area :content, class: 'form-control wysiwyg', data: { wysiwyg: { height_min: 200, toolbar_sticky: true, toolbar_preset: 'admin_default', object_class: @article.class.base_class.name, object_id: @article.id }.to_json }


			.col-xs-4
				.well
					.form-group
						= f.label :user_id, 'Author'
						= f.collection_select :user_id, User.where( "role > 1" ), :id, :full_name, { include_blank: '-- None -- ' }, class: 'form-control'
					.form-group
						= f.label :publish_at
						= f.text_field :publish_at, value: current_user.to_local_tz( @article.publish_at ), class: 'form-control datetimepicker'
					.form-group
						= f.label :category_id
						= f.collection_select :category_id, Pulitzer::ArticleCategory.active.order( :name ), :id, :name, { include_blank: '-- None -- ' }, class: 'form-control'
					.form-group
						= f.text_field :category_name, class: 'form-control', placeholder: 'Add Category'
					.form-group
						= f.label :status
						= f.collection_select :status, Pulitzer::Article.statuses, :first, :first, {}, class: 'form-control'
					.form-group
						= f.label :availability
						= f.collection_select :availability, Pulitzer::Article.availabilities, :first, :first, {}, class: 'form-control'
					.form-group
						= f.label :tags_csv, 'Tags:'
						= f.text_field :tags_csv, placeholder: 'Separate tags with commas', class: 'form-control'
					.form-group
						= f.check_box :is_sticky, {}, 'true', 'false'
						Feature?
					.form-group
						= f.check_box :is_commentable, {}, 'true', 'false'
						Allow Comments?

					.form-group
						= label_tag 'Version Notes'
						= text_area_tag :version_notes, '', class: 'form-control'

					.form-group
						= f.submit 'Update', class: 'btn btn-primary'



.row
	.col-sm-10.col-sm-offset-1
		= render 'pulitzer/version_admin/object_versions', object: @article, preview_path: preview_article_admin_path( @article )
