
.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					= link_to 'Admin', main_app.admin_index_path
				%li
					= link_to 'Page Admin', page_admin_index_path
				%li
					%strong
						Edit
						= @page.title
		.col-xs-2
			%a.btn.btn-primary{ href: preview_page_admin_path( @page.id ), target: '_new' }
				%i.fa.fa-eye
				Preview

	= form_for @page, url: page_admin_path( @page ) do |f|

		.row
			.col-xs-8
				.form-group
					= f.text_field :title, class: 'form-control'

				.form-group
					.input-group
						= f.label :slug_pref, 'URL for this page:'
						= f.text_field :slug_pref, class: 'form-control', placeholder: @page.slug
						%span.input-group-btn
							%a.btn.btn-default{ 'data-clipboard-text' => @page.url }
								%i.fa.fa-clipboard


				.form-group
					.input-group
					= f.label :avatar, 'Image:'
					- if @page.avatar.present?
						%a.btn.btn-default{ 'data-clipboard-text' => @page.avatar }
							%i.fa.fa-clipboard
					.row
						.col-sm-2
							= image_tag @page.avatar.to_s, class: 'img-responsive', id: 'media_avatar'
							%div{ style: 'text-align:center;padding:0.3em;' }
								%a{ href: '#', data: { toggle: :assetup, for: '#page_avatar_asset_url,#media_avatar', asset: { asset_type: 'image', use: 'avatar', status: 'active', parent_obj_id: @page.id, parent_obj_type: @page.class.base_class.name }.to_json, params: { authenticity_token: form_authenticity_token() }.to_json } }
									%i.fa.fa-upload
									upload
						.col-sm-10
							= f.hidden_field :avatar_asset_url, class: 'form-control'
							= text_field_tag :avatar_text_field, '', class: 'form-control', placeholder: 'Full Path to Image', data: { inputfor: '#page_avatar_asset_url' }

				.form-group
					= f.text_area :content, class: 'form-control wysiwyg', data: { wysiwyg: { height_min: 200, toolbar_sticky: true, toolbar_preset: 'admin_default', asset_manager: swell_media.asset_manager_index_path( asset: { parent_obj_type: @page.class.name, parent_obj_id: @page.id }, request_forgery_protection_token.to_s => form_authenticity_token, response: :json ) }.to_json }


			.col-xs-4
				.well
					.form-group
						= f.label :publish_at
						= f.text_field :publish_at, value: current_user.to_local_tz( @page.publish_at ), class: 'form-control datetimepicker'
					.form-group
						= f.label :status
						= f.collection_select :status, Pulitzer::Page.statuses, :first, :first, {}, class: 'form-control'
					.form-group
						= f.label :availability
						= f.collection_select :availability, Pulitzer::Page.availabilities, :first, :first, {}, class: 'form-control'
					.form-group
						= f.check_box :show_title, {}, 'true', 'false'
						Show Title?
					.form-group
						= f.check_box :is_commentable, {}, 'true', 'false'
						Allow Comments?
					.form-group
						= f.submit 'Update', class: 'btn btn-primary'
						.pull-right= link_to 'Cancel', :back, class: 'btn btn-default btn-sm'
