

.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					= link_to 'Admin', main_app.admin_index_path
				%li
					%strong
						Site Admin
						= "(#{pluralize @sites.total_count, 'Sites'})"
		.col-xs-2
			- if authorized?( Pulitzer::Site, controller: Pulitzer::SiteAdminController, action: :create )
				%a.btn.btn-success{ data: { toggle: :modal, target: '#new_site' } }
					%i.fa.fa-plus-square
					New

	.row
		.col-xs-6
			= raw paginate @sites
		.col-xs-6


	.row
		.col-xs-12
			%table.table.table-striped.table-hover{ style: 'margin-top: 1em' }
				%thead
					%th
						Name
						%a{ href: site_admin_index_path( sort_by: 'name', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: site_admin_index_path( sort_by: 'name', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th
						Domain
						%a{ href: site_admin_index_path( sort_by: 'domain', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: site_admin_index_path( sort_by: 'domain', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th
						Created At
						%a{ href: site_admin_index_path( sort_by: 'created_at', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: site_admin_index_path( sort_by: 'created_at', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th
				%tbody
					- @sites.each do |site|
						%tr
							%td
								.title{ style: 'font-size:120%;' }
									= link_to site.name, edit_site_admin_path( site.id )
								

							%td
								= site.domain
							%td
								= site.created_at.to_s( :slashed_time )
					
							%td
								.btn-group
									%button.btn.btn-mini.btn-default.dropdown-toggle{ data: { toggle: :dropdown } }
										%i.fa.fa-cog
										%b.caret
									%ul.dropdown-menu
										%li
											%a{ href: edit_site_admin_path( site.id ) }
												%i.fa.fa-pencil
												Edit
										
										%li.divider
										%li
											%a{ href: site_admin_path( site.id ), data: { method: 'delete', confirm: 'Are you sure?' } }
												%i.fa.fa-trash-o
												Delete!




= render 'new_modal'
